.body {
    display: flex;
    justify-content: center;
}
.calculator {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0px;

    width: 400px;
    height: 475px;
    border: solid 8px darkgrey;
    background-color: rgb(164, 119, 63);
}
.keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;
}

.key {
    width: 100px;
    height: 75px;
    margin: 0px;
    box-sizing: border-box;
    border: solid whitesmoke;
    border-radius: 5px;

    font-family: monospace;
    font-size: 2em;
    font-weight: bold;
}